# Ignore node_modules directory
node_modules/

# Ignore environment files
.env

# Ignore any compiled files or logs
*.log
*.gz
*.map

# Ignore IDE or editor specific files
.vscode/
.idea/

# Ignore system files from macOS
.DS_Store

# Ignore npm debug log
npm-debug.log*

# Ignore yarn integrity file
yarn.lock

# Ignore any temporary files
*.tmp
